:root {
    --purple: #952aed;
    --purple-light: #835fa7;
    --purple-darker: #472563;
    --black: #232323;
    --white: #ffffff;
    --gray: #e6e6e6;
    --btn-color: #ff703d;
    --btn-hover: #ff4c0b;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

header {
    width: 100%;
    height: 90vh;
    max-height: 700px;
    padding: 40px 2%;
    background-size: 100% 100%;
    background-position: center;
    background: linear-gradient(to right, #000000a9, #000000bb), url(../img/bg.png);
    background-repeat: round;
}

header .logo {
    padding: 10px;
    float: left;
}

header .logo h1 {
    font-style: italic;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: -3px;
    cursor: pointer;
    transition: 0.6s;
}

header .logo h1:hover {
    color: var(--purple);
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../img/hamburguer-menu.svg);
    background-size: 100% 100%;
}

nav.mobile-menu ul {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 90px;
    background-color: var(--white);
    color: var(--white);
    list-style: none;
    text-align: center;
}

nav.mobile-menu ul li {
    border-bottom: 1px solid black;
    padding: 8px 0;
    transition: 0.5s;
}

nav.mobile-menu ul li:hover {
    background-color: var(--gray);
}

nav.mobile-menu ul li a {
    text-decoration: none;
    color: var(--purple);
}

header nav.desktop-menu {
    float: right;
}

header nav.desktop-menu li {
    display: inline-block;
    padding: 20px;

}

header nav.desktop-menu li a {
    padding: 10px;
    color: var(--white);
    text-decoration: none;
    transition: .6s;
}

header nav.desktop-menu ul a:hover {
    text-decoration: underline;
    color: var(--purple);
}

.chamada1 {
    color: var(--white);
    max-width: 600px;
    float: right;
    margin: 130px 25px;
}

.chamada1 h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.chamada1 p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}

section.secao-1 {
    width: 100%;
    padding: 0 2%;
    background-color: var(--purple-darker);
    height: 400px;
}

section.secao-1 .container {
    max-width: 1024px;
    height: calc(100% + 30px);
}

.texto-secao-1 {
    position: relative;
    left: 55px;
    width: 50%;
    float: left;
    color: var(--white);
    margin-top: 60px;
    padding-left: 80px;
}

.texto-secao-1 h2 {
    font-size: 26px;
    font-weight: 300;
}

.texto-secao-1 p {
    font-size: 1rem;
    margin-top: 20px;
}

.texto-secao-1 ul {
    font-size: 1rem;
    list-style: circle;
    list-style-position: inside;
}

.texto-secao-1 ul li {
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn-texto-1 {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background-color: var(--btn-color);
    width: 165px;
    height: 44px;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-texto-1:hover {
    background-color: var(--btn-hover);
    transform: scale(1.1);
}

.device {
    position: relative;
    top: -30px;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url('../img/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.secao-2 {
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--white);
    text-align: center;
}

.secao-2 .container {
    max-width: 1000px;
}

.secao-2 h2 {
    font-size: 26px;
    color: var(--purple-darker);
}

.secao-2 p {
    display: inline-block;
    margin-top: 30px;
    max-width: 600px;
    color: var(--purple-darker)
}

.secao-2 img {
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;
}

.secao-3 {
    width: 100%;
}

.parte-1 {
    float: left;
    width: 50%;
    padding: 140px 30px 90px 30px;
    color: var(--white);
    background-color: var(--purple-light);
}

.wrapper-part1 {
    float: right;
    max-width: 600px;
    padding-right: 0 30px;
}

.parte-1 h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 26px;
}

.parte-1 p {
    line-height: 35px;
    margin-top: 20px;
}

.parte-2 {
    float: left;
    width: 50%;
    padding: 140px 30px 0px 30px;
    background-color: var(--white);
}

.sobre {
    float: left;
    max-width: 600px;
    padding-left: 30px;
}


.autor {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


.wrapper-autor {
    float: left;
}

.autor h2 {
    color: var(--black);
    padding-right: 20px;
    font-weight: 400;
    font-size: 26px;
}

.autor p {
    font-style: italic;
    font-size: 15px;
    color: var(--black);
    font-weight: 300;
}

.autor .img-autor {
    float: left;
    width: 40px;
    height: 40px;

    border-radius: 20px;
    background-color: var(--gray);
    background-image: url(../img/gitHub.png);
    background-size: 100% 100%;
}

.texto-autor {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p {
    color: var(--black);
    font-size: 16px;

}

.slider-bullets {
    width: 100%;
    float: left;
    margin-top: 8px;
    padding-left: 30px;
}

.slider-bullets span {
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--gray);
}

section.secao-4 {
    background-color: var(--purple-darker);
    padding: 100px 0;
}

.form {
    float: left;
    width: 50%;
    color: var(--white);
    padding-left: 15px;
}

.form h2 {
    font-size: 26px;
    font-weight: 300;
}

.form p {
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
    margin-top: 30px;
    padding-right: 15px;
}

.form h3 {
    font-size: 14px;

}

.form form {
    margin-top: 15px;
}

.form form input[type=text],
input[type=email] {
    width: 100%;
    max-width: 480px;
    margin-top: 10px;
    height: 80px;
    padding-left: 8px;
    line-height: 58px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.form form textarea {
    width: 100%;
    height: 160px;
    max-width: 480px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.form form input[type=submit] {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--btn-color);
    width: 165px;
    height: 44px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    border: 0;
}

.form form input[type=submit]:hover {
    background-color: var(--btn-hover);
    transform: scale(1.1);
}

.map-wraper {
    float: left;
    width: 50%;
    padding: 0 15px;
    color: var(--white);
}

.map-wraper h2 {
    font-size: 26px;
    font-weight: 300;
}

.map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 5px solid var(--gray);
}

.map-wraper-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
}

.map-wraper-3 {
    width: 100%;
    max-width: 480px;
    position: relative;
    margin-top: 10px;
}

footer {
    color: var(--white);
    padding: 40px 30px;
    background: var(--purple-light);
}

footer p {
    font-size: 16px;
}

footer p:nth-of-type(1) {
    float: left;
}

footer p:nth-of-type(2) {
    float: right;
}

/* Media Queries */

@media screen and (max-width: 950px) {
    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
        float: right;
    }

    section.secao-4 .container {
        text-align: center;
    }

    .form {
        float: none;
        width: 100%;
        padding-right: 15px;
    }

    .form p {
        display: inline-block;
    }

    .form h3 {
        text-align: center;
        display: block;
    }

    .map-wraper {
        float: none;
        width: 100%;
        margin-top: 20px;
        padding: 0 4%;
    }

    .map-wraper-2,
    .map-wraper-3 {
        display: inline-block;
    }

    .map-wraper-3 {
        width: 100%;
        padding-top: 100%;
        max-width: none;
        position: relative;
    }
}

@media screen and (max-width: 768px) {

    header {
        width: 100%;
        height: auto;
        min-height: 90vh;
    }

    .chamada1 {
        max-width: 600px;
        float: none;
        margin: 130px 25px;
    }

    .chamada1 h2 {
        font-size: 30px;
        font-weight: 700;
        padding: 0 10px;
        text-transform: uppercase;
    }

    .chamada1 p {
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
    }

    section.secao-1 {
        padding: 40px 2%;
        height: auto;
    }

    .texto-secao-1 {
        padding: 0;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        position: static;
        float: none;
        text-align: center;
    }

    .texto-secao-1 ul {
        display: inline-block;
        margin: 20px;
    }

    .texto-secao-1 ul li {
        float: none;
        text-align: left;

    }

    .device {
        display: none;
    }

    .secao-2 {
        padding: 40px 2%;
    }

}

@media screen and (max-width:580px) {

    .parte-1 {
        width: 100%;
        padding: 40px 30px;
    }

    .parte-2 {
        width: 100%;
        padding: 40px 10px;
    }

    .secao-2 img {
        top: 60px;
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }

    footer p:nth-of-type(1) {
        float: none;
    }

    footer p:nth-of-type(2) {
        float: none;
        margin-top: 1rem;
    }
}